@import "../../styles/main";

.grid-container {
  @extend %container;
}
.line {
  width: 12px;
  height: 0px;
  border: 1px solid var(--font-color);
}
.grid {
  grid-column: span 4;
  height: 275px;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.text-container {
  background: rgba(255, 255, 255, 0.75);
  transform: translateY(-23px);
  text-align: start;
  padding-left: 20px;
  overflow: hidden;
  height: 20px;
  border-radius: 0 0 20px 20px;
}
.text-container:hover {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
  height: 145px;
  transform: translateY(-148px);
}
.image-text {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 341px;
}
.image-text-title {
  font-family: "Roboto";
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
}
.image-text-main {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
}
.filter-container {
  @extend %container;
  padding-bottom: 45px;
}
.selector-page {
  display: flex;
  padding-top: 35px;
}
.selector {
  grid-column: span 3;
  text-align: start;
}
.select-button {
  display: flex;
  padding-top: 40px;
  padding-bottom: 20px;
  justify-content: center;
}
.select-year {
  grid-column: span 1;
}
.year-container {
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: center;
}
// Настройка контейнеров  под разные дивайсы
@media (min-width: 1024px) and (max-width: 1365px) {
  .year-container {
    display: grid;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .grid {
    grid-column: span 6;
    height: 275px;
  }
  .year-container {
    display: grid;
  }
}
@media (max-width: 767px) {
  .grid {
    grid-column: span 4;
    height: 275px;
  }
  .selector {
    grid-column: span 4;
  }
}

// Да начнется черная магия (да простит меня проверяющий этот код)
// Делал это для того, чтобы я могу полноценно перенести цвета от разных тем для компонентов ant
.ant-pagination-item {
  border: 1px solid var(--font-color) !important;
  margin-inline-end: 0 !important;
  border-radius: 0 !important;
  border-width: 1px;
  color: var(--font-color) !important;
  a {
    color: var(--font-color) !important;
  }
}
.ant-pagination-disabled {
  button {
    color: var(--unactive-color) !important;
  }
}
.ant-btn-text:disabled {
  color: var(--unactive-color) !important;
}
.ant-pagination-item-active {
  a {
    color: var(--background-color) !important;
  }
  color: var(--background-color) !important;
  background-color: var(--font-color) !important;
}

.ant-pagination-item-link {
  @extend .ant-pagination-item;
}
.ant-pagination-prev {
  margin-inline-end: 0 !important;
}
.ant-btn {
  @extend .ant-pagination-item;
}
.ant-select-item-option-active {
  @extend .ant-pagination-item-active;
}
.ant-select-clear {
  color: var(--font-color) !important;
  background-color: var(--background-color) !important;
}
.ant-select-selector {
  background-color: var(--background-color) !important;
  color: var(--font-color) !important;
  border: 1px solid var(--font-color) !important;
}

.ant-select-selection-placeholder {
  color: var(--font-color) !important;
}
.ant-input {
  @extend .ant-select-selector;
}
::-webkit-input-placeholder {
  @extend .ant-select-selection-placeholder;
}
.ant-select-dropdown {
  background-color: var(--background-color);
  .ant-select-item {
    color: var(--font-color);
  }
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: var(--background-color);
    color: var(--font-color);
  }
}
