.grid-container {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(12, 75px);
  justify-content: center;
}
.grid-1 {
  grid-column: 1/5;
  height: 275px;
}
.grid-2 {
  grid-column: 5/9;
  height: 275px;
}
.grid-3 {
  grid-column: 9/13;
  height: 275px;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.text-container {
  background: rgba(255, 255, 255, 0.75);
  transform: translateY(-24px);
  text-align: start;
  padding-left: 20px;
  overflow: hidden;
  height: 20px;
}
.text-container:hover {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  height: 145px;
  transform: translateY(-149px);
}
.image-text {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 341px;
}
.image-text-title {
  font-family: "Roboto";
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
}
.image-text-main {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
}
