
%container {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(12, 75px);
    justify-content: center;
    
}
@media (min-width: 1024px) and (max-width: 1365px) {
    %container {
      
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(12, 60px);
        justify-content: center;
        
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    %container {
      
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(12, 40px);
        justify-content: center;
        
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    %container {
      
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(4, 55px);
        justify-content: center;
        
    }
}
